.wrapper {
    --search-border-radius: 92px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0, 0, 0, 12%);
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: var(--default-layout-header-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.search,
.search-result {
    width: 361px;
}

.search {
    display: flex;
    position: relative;
    height: 46px;
    background-color: rgb(22, 24, 35, 6%);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        color: var(--black);
        font-size: 1.6rem;
        background-color: transparent;
        height: 100%;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgb(22, 24, 35, 75%);
    }

    &::after {
        content: '';
        position: absolute;
        height: 28px;
        width: 1px;
        background-color: rgb(22, 24, 35, 12%);
        top: 50%;
        right: var(--search-button-width);
        transform: translateY(-50%);
    }

    &:focus-within {
        border-color: rgb(22, 24, 35, 20%);
    }
}

.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(22, 24, 35, 50%);
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(22, 24, 35, 34%);
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: rgb(22, 24, 35, 34%);
    &:hover {
        cursor: pointer;
        background-color: rgb(22, 24, 35, 3%);
    }
    &:active {
        background-color: rgb(22, 24, 35, 6%);
    }
}
